In [1]:
import pandas as pd
from scripts import project_functions
df = pd.read_csv("../../data/raw/Medical Expenses.csv")
df.head()

#Testing the functions 
df = project_functions.load("../../data/raw/Medical Expenses.csv")
df

,Age,Sex,BMI,Number of Children,Smoker,Place of Residence,Medical Insurance Charges
0,19,female,27.900,0,yes,southwest,16884.92400
1,18,male,33.770,1,no,southeast,1725.55230
2,28,male,33.000,3,no,southeast,4449.46200
3,33,male,22.705,0,no,northwest,21984.47061
4,32,male,28.880,0,no,northwest,3866.85520
...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,northwest,10600.54830
1334,18,female,31.920,0,no,northeast,2205.98080
1335,18,female,36.850,0,no,southeast,1629.83350
1336,21,female,25.800,0,no,southwest,2007.94500
1337,61,female,29.070,0,yes,northwest,29141.36030

In [2]:
dfmale = project_functions.male_only("../../data/raw/Medical Expenses.csv")
dfmale

,Age,Sex,BMI,Number of Children,Smoker,Place of Residence,Medical Insurance Charges
0,18,male,33.770,1,no,southeast,1725.55230
1,28,male,33.000,3,no,southeast,4449.46200
2,33,male,22.705,0,no,northwest,21984.47061
3,32,male,28.880,0,no,northwest,3866.85520
4,37,male,29.830,2,no,northeast,6406.41070
...,...,...,...,...,...,...,...
671,31,male,25.935,1,no,northwest,4239.89265
672,61,male,33.535,0,no,northeast,13143.33665
673,51,male,30.030,1,no,southeast,9377.90470
674,52,male,38.600,2,no,southwest,10325.20600
675,50,male,30.970,3,no,northwest,10600.54830

In [3]:
dffemale = project_functions.female_only("../../data/raw/Medical Expenses.csv")
dffemale

,Age,Sex,BMI,Number of Children,Smoker,Place of Residence,Medical Insurance Charges
0,19,female,27.90,0,yes,southwest,16884.92400
1,31,female,25.74,0,no,southeast,3756.62160
2,46,female,33.44,1,no,southeast,8240.58960
3,37,female,27.74,3,no,northwest,7281.50560
4,60,female,25.84,0,no,northwest,28923.13692
...,...,...,...,...,...,...,...
657,52,female,44.70,3,no,southwest,11411.68500
658,18,female,31.92,0,no,northeast,2205.98080
659,18,female,36.85,0,no,southeast,1629.83350
660,21,female,25.80,0,no,southwest,2007.94500
661,61,female,29.07,0,yes,northwest,29141.36030

In [4]:
dflargest = project_functions.largest("../../data/raw/Medical Expenses.csv")
dflargest

,Age,Sex,BMI,Number of Children,Smoker,Place of Residence,Medical Insurance Charges
0,54,female,47.410,0,yes,southeast,63770.42801
1,45,male,30.360,0,yes,southeast,62592.87309
2,52,male,34.485,3,yes,northwest,60021.39897
3,31,female,38.095,1,yes,northeast,58571.07448
4,33,female,35.530,0,yes,northwest,55135.40209
5,60,male,32.800,0,yes,southwest,52590.82939
6,28,male,36.400,1,yes,southwest,51194.55914
7,64,male,36.960,2,yes,southeast,49577.66240
8,59,male,41.140,1,yes,southeast,48970.24760
9,44,female,38.060,0,yes,southeast,48885.13561
10,63,female,37.700,0,yes,southwest,48824.45000
11,57,male,42.130,1,yes,southeast,48675.51770
12,60,male,40.920,0,yes,southeast,48673.55880
13,54,male,40.565,3,yes,northeast,48549.17835
14,61,female,36.385,1,yes,northeast,48517.56315
15,60,male,39.900,0,yes,southwest,48173.36100
16,64,female,33.800,1,yes,southwest,47928.03000
17,59,female,36.765,1,yes,northeast,47896.79135
18,58,male,36.955,2,yes,northwest,47496.49445
19,51,male,42.900,2,yes,southeast,47462.89400
20,61,male,36.300,1,yes,southwest,47403.88000
21,63,female,32.200,2,yes,southwest,47305.30500
22,64,female,31.300,2,yes,southwest,47291.05500
23,52,male,41.800,2,yes,southeast,47269.85400
24,63,male,35.090,0,yes,southeast,47055.53210
25,64,male,33.880,0,yes,southeast,46889.26120
26,62,male,30.875,3,yes,northwest,46718.16325
27,53,female,36.860,3,yes,northwest,46661.44240
28,61,male,35.860,0,yes,southeast,46599.10840
29,51,female,37.050,3,yes,northeast,46255.11250
30,44,female,43.890,2,yes,southeast,46200.98510
31,46,male,42.350,3,yes,southeast,46151.12450
32,60,male,31.350,3,yes,northwest,46130.52650
33,37,female,47.600,2,yes,southwest,46113.51100
34,43,female,46.200,0,yes,southeast,45863.20500
35,62,male,32.015,0,yes,northeast,45710.20785
36,48,male,40.565,2,yes,northwest,45702.02235
37,60,female,32.450,0,yes,southeast,45008.95550
38,51,female,34.960,2,yes,northeast,44641.19740
39,29,male,35.500,2,yes,southwest,44585.45587
40,22,male,52.580,1,yes,southeast,44501.39820
41,55,female,35.200,0,yes,southeast,44423.80300
42,51,female,38.060,0,yes,southeast,44400.40640
43,54,male,34.210,2,yes,southeast,44260.74990
44,47,male,38.940,2,yes,southeast,44202.65360
45,34,female,30.210,1,yes,northwest,43943.87610
46,56,male,33.630,0,yes,northwest,43921.18370
47,42,female,40.370,2,yes,southeast,43896.37630
48,56,male,31.790,2,yes,southeast,43813.86610
49,36,male,41.895,3,yes,northeast,43753.33705